In [1]:
#Solution of question-1
#MongoDB is a NoSQL, document-oriented database that stores data in JSON documents.
#It is designed to handle large amounts of unstructured data, making it suitable for a variety of applications. 

#Non relational Data bases-It, often referred to as NoSQL databases, are a category of databases 
#that do not follow the traditional relational database management system (RDBMS) model.
# Unlike relational databases, which organize data into tables with predefined schemas, 
#NoSQL databases are more flexible in terms of data storage and retrieval. 
#They are designed to handle various data models which are in unstructured format.

In [2]:
#Solution of question-2
#Features of MongoDB

In [10]:
#Solution of question-3
import pymongo
client=pymongo.MongoClient("mongodb+srv://Mohd_Asif_Khan:pwskills@cluster0.orm7lve.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [13]:
db
db=client["mongodb_assignment_DB"]
coll=db["collection_assignment"]

In [21]:
data=[{
    "id":1,
    "name":"Asif",
    "college":"global",
    "phone":7827
},{
    "id":2,
    "name":"Faiz",
    "college":"global",
    "phone":78234
},{
    "id":3,
    "name":"m",
    "college":"allen",
    "phone":78244
},{
    "id":2,
    "name":"Faiz",
    "college":"global",
    "phone":78234
},]
data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]
data3 = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},

    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},

    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

insert and find methods

In [22]:
for i in data3:
    coll.insert_one(i)

In [35]:
coll.insert_many(data)

InsertManyResult([ObjectId('65e421ae14c7f72dd26880ce'), ObjectId('65e421ae14c7f72dd26880cf'), ObjectId('65e421ae14c7f72dd26880d0'), ObjectId('65e421ae14c7f72dd26880d1')], acknowledged=True)

In [23]:
coll.insert_many(data2)

InsertManyResult([ObjectId('65e4201614c7f72dd26880c2'), ObjectId('65e4201614c7f72dd26880c3'), ObjectId('65e4201614c7f72dd26880c4'), ObjectId('65e4201614c7f72dd26880c5'), ObjectId('65e4201614c7f72dd26880c6'), ObjectId('65e4201614c7f72dd26880c7'), ObjectId('65e4201614c7f72dd26880c8'), ObjectId('65e4201614c7f72dd26880c9'), ObjectId('65e4201614c7f72dd26880ca'), ObjectId('65e4201614c7f72dd26880cb'), ObjectId('65e4201614c7f72dd26880cc'), ObjectId('65e4201614c7f72dd26880cd')], acknowledged=True)

In [30]:
coll.find_one()

{'_id': ObjectId('65e41f2214c7f72dd26880be'),
 'id': 1,
 'name': 'Asif',
 'college': 'global',
 'phone': 7827}

In [32]:
coll.find_one({"name":"Hannah"})

{'_id': ObjectId('65e4201614c7f72dd26880c3'),
 'name': 'Hannah',
 'address': 'Mountain 21'}

In [40]:
for i in coll.find({"id":{"$lte":2}}):
    print(i)

{'_id': ObjectId('65e41f2214c7f72dd26880be'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e421ae14c7f72dd26880ce'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e421ae14c7f72dd26880cf'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e421ae14c7f72dd26880d1'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}

In [47]:
for i in coll.find({"companyName":"iNeuron"}):
    print(i)

{'_id': ObjectId('65e41fe614c7f72dd26880bf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65e41fe614c7f72dd26880c0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65e41fe614c7f72dd26880c1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

sort() method

In [51]:
data4= [
  { "id":1,"name": "Amy", "address": "Apple st 652" },
  { "id":2,"name": "Hannah", "address": "Mountain 21" },
  { "id":3,"name": "Michael", "address": "Valley 345" },
  { "id":4,"name": "Sandy", "address": "Ocean blvd 2" },
  { "id":5,"name": "Betty", "address": "Green Grass 1" },
  { "id":6,"name": "Richard", "address": "Sky st 331" },
  { "id":7,"name": "Susan", "address": "One way 98" },
  { "id":8,"name": "Vicky", "address": "Yellow Garden 2" },
  { "id":9,"name": "Ben", "address": "Park Lane 38" },
  { "id":10,"name": "William", "address": "Central st 954" },
  { "id":11, "name": "Chuck", "address": "Main Road 989" },
  { "id":12,"name": "Viola", "address": "Sideway 1633" }
]
coll.insert_many(data4)

In [57]:
#decsending order
for i in coll.find().sort({"name":-1}):
    print(i)

{'_id': ObjectId('65e421ae14c7f72dd26880d0'), 'id': 3, 'name': 'm', 'college': 'allen', 'phone': 78244}
{'_id': ObjectId('65e4201614c7f72dd26880cb'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e427de14c7f72dd26880db'), 'id': 10, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e4201614c7f72dd26880cd'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65e427de14c7f72dd26880dd'), 'id': 12, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65e4201614c7f72dd26880c9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e427de14c7f72dd26880d9'), 'id': 8, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e4201614c7f72dd26880c8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e427de14c7f72dd26880d8'), 'id': 7, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e4201614c7f72dd26880c5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e427de14c7f72dd26880d5'), 'id': 4, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e4201614c7f72dd26880c7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e427de14c7f72dd26880d7'), 'id': 6, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e4201614c7f72dd26880c4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e427de14c7f72dd26880d4'), 'id': 3, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e4201614c7f72dd26880c3'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65e427de14c7f72dd26880d3'), 'id': 2, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65e421ae14c7f72dd26880cf'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e421ae14c7f72dd26880d1'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e4201614c7f72dd26880cc'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e427de14c7f72dd26880dc'), 'id': 11, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e4201614c7f72dd26880c6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e427de14c7f72dd26880d6'), 'id': 5, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e4201614c7f72dd26880ca'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e427de14c7f72dd26880da'), 'id': 9, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e41f2214c7f72dd26880be'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e421ae14c7f72dd26880ce'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e4201614c7f72dd26880c2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e427de14c7f72dd26880d2'), 'id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e41fe614c7f72dd26880bf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65e41fe614c7f72dd26880c0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65e41fe614c7f72dd26880c1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [60]:
#ascending order
for i in coll.find().sort({"name":1}):
    print(i)

{'_id': ObjectId('65e41fe614c7f72dd26880bf'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('65e41fe614c7f72dd26880c0'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('65e41fe614c7f72dd26880c1'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('65e4201614c7f72dd26880c2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e427de14c7f72dd26880d2'), 'id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e41f2214c7f72dd26880be'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e421ae14c7f72dd26880ce'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e4201614c7f72dd26880ca'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e427de14c7f72dd26880da'), 'id': 9, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e4201614c7f72dd26880c6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e427de14c7f72dd26880d6'), 'id': 5, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e4201614c7f72dd26880cc'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e427de14c7f72dd26880dc'), 'id': 11, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e421ae14c7f72dd26880cf'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e421ae14c7f72dd26880d1'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e4201614c7f72dd26880c3'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65e427de14c7f72dd26880d3'), 'id': 2, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65e4201614c7f72dd26880c4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e427de14c7f72dd26880d4'), 'id': 3, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e4201614c7f72dd26880c7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e427de14c7f72dd26880d7'), 'id': 6, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e4201614c7f72dd26880c5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e427de14c7f72dd26880d5'), 'id': 4, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e4201614c7f72dd26880c8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e427de14c7f72dd26880d8'), 'id': 7, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e4201614c7f72dd26880c9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e427de14c7f72dd26880d9'), 'id': 8, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e4201614c7f72dd26880cd'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65e427de14c7f72dd26880dd'), 'id': 12, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65e4201614c7f72dd26880cb'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e427de14c7f72dd26880db'), 'id': 10, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e421ae14c7f72dd26880d0'), 'id': 3, 'name': 'm', 'college': 'allen', 'phone': 78244}

drop() delete_one() and delete_many()

In [61]:
#drop()- It is used to delete a specified database or collection. 
#Its primary purpose is to remove data or structures from the MongoDB database.

#delete_one()- It is used to delete a particular data specified by the filter in the arguments. 
coll.delete_one({"name":"Hannah"})

#delete_many()-It is used to delete many data which contains the details specified at the arguments.
coll.delete_many({"companyName":"iNeuron"})

DeleteResult({'n': 3, 'electionId': ObjectId('7fffffff000000000000001c'), 'opTime': {'ts': Timestamp(1709452005, 4), 't': 28}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1709452005, 4), 'signature': {'hash': b'z\xb3Z\xe4\x08\xd9\xddK\xadwF\xaaL\xed<B=\x16\xa5\xa8', 'keyId': 7307327937164869638}}, 'operationTime': Timestamp(1709452005, 4)}, acknowledged=True)

In [62]:
for i in coll.find():
    print(i)

{'_id': ObjectId('65e41f2214c7f72dd26880be'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e4201614c7f72dd26880c2'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e4201614c7f72dd26880c4'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e4201614c7f72dd26880c5'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e4201614c7f72dd26880c6'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e4201614c7f72dd26880c7'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e4201614c7f72dd26880c8'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e4201614c7f72dd26880c9'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e4201614c7f72dd26880ca'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e4201614c7f72dd26880cb'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e4201614c7f72dd26880cc'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e4201614c7f72dd26880cd'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('65e421ae14c7f72dd26880ce'), 'id': 1, 'name': 'Asif', 'college': 'global', 'phone': 7827}
{'_id': ObjectId('65e421ae14c7f72dd26880cf'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e421ae14c7f72dd26880d0'), 'id': 3, 'name': 'm', 'college': 'allen', 'phone': 78244}
{'_id': ObjectId('65e421ae14c7f72dd26880d1'), 'id': 2, 'name': 'Faiz', 'college': 'global', 'phone': 78234}
{'_id': ObjectId('65e427de14c7f72dd26880d2'), 'id': 1, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('65e427de14c7f72dd26880d3'), 'id': 2, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('65e427de14c7f72dd26880d4'), 'id': 3, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('65e427de14c7f72dd26880d5'), 'id': 4, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('65e427de14c7f72dd26880d6'), 'id': 5, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('65e427de14c7f72dd26880d7'), 'id': 6, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('65e427de14c7f72dd26880d8'), 'id': 7, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('65e427de14c7f72dd26880d9'), 'id': 8, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('65e427de14c7f72dd26880da'), 'id': 9, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('65e427de14c7f72dd26880db'), 'id': 10, 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('65e427de14c7f72dd26880dc'), 'id': 11, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('65e427de14c7f72dd26880dd'), 'id': 12, 'name': 'Viola', 'address': 'Sideway 1633'}